{% extends 'basegym.html' %}


{% block title %} Home di {{user.username}} {% endblock %} 

{% block header1 %}
  <h1>Home di {{user.username}} </h1>
  <p>Welcome 
    {% if user.is_authenticated %}
     {{ user.username }}
    {% else %}
    Utente non registrato
    {% endif %}
  </p> 
{% endblock %}

{% block content %} 

<h2>Risulta che hai correntemente prenotato: {% if listacorsi %} {{ listacorsi.count }} {% else %} 0 {% endif %} corsi </h2>

<p> Ulteriori dettagli </p>

<br>

{% for c in listacorsi %}
<br>
<div class="card">
  <div class="card-header">
     Corso di {{ c.disciplina.nome }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{c.data}} alle {{c.ora}}</h5>
    <p class="card-text">svolto da {{ c.disciplina.personal_trainer.username }}</p>
    
    <form action="{% url 'gestione:disdetta' c.pk%}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Disdici</button>
  </form>

  </div>
</div>
<br>
{%endfor%}

<br>

{% endblock %}