{% extends 'basegym.html' %}


{% block title %} Situazione Palestra {% endblock %} 

{% block header1 %}
  <h1>Loggato come {{user.username}} </h1>
  <p>Welcome 
     {{ user.username }}
  </p> 
{% endblock %}

{% block content %} 

<h2> Stato attuale della palestra </h2>

<br>

{% for d in object_list  %}
<br>
<div class="card">
  <div class="card-header">
     Tenuto da {{d.personal_trainer.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ d.nome }}  </h5>
    
    <a href="{% url 'gestione:detailg' d.pk %}" class="btn btn-info"> Visualizza Dettagli Aggiuntivi </a> 

    <form method="post" action="{% url 'gestione:eliminadisciplina' d.pk %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-info"> Elimina Disciplina </button>
    </form>

    <a href="{% url 'gestione:modificadisciplina' d.pk %}" class="btn btn-info"> Modifica Disciplina </a> 

  </div>
</div>
<br>
{%endfor%}

<br>

{% endblock %}